
.xu-box {
    background-color: rgba(28, 62, 107, 0.8);
    position: relative;
    color: white;
    border: #3a9fd3 1px solid;
}
.xu-box::before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 20px;
    left: -5px;
    top: -5px;
    border-top: 1px solid #3a9fd3;
    border-left: 1px solid #3a9fd3
}
.xu-box::after {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 20px;
    right: -5px;
    bottom: -5px;
    border-right: 1px solid #3a9fd3;
    border-bottom: 1px solid #3a9fd3
}

.xu-box-title {
    font-size: 16px;
    padding: 10px 10px;
    border-bottom: 1px solid #192b5f;
    position: relative;
}
.xu-box-content {
    padding: 10px;
    position: relative;
}
.xu-box-foot {
    padding:10px;
    border-top: 1px solid #192b5f;
    position: relative;
}